* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0A5EB0;
    padding: 1.5rem;
}

main {
    flex: 1;
    font-size: 1.5rem;
}

footer {
    background-color: #0A5EB0;
    padding: 1rem;
}

#gameboard {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.board {
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #0A5EB0;
    padding: .4rem;
}

.cell {
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    padding: 1rem;
    border: .2rem solid #0A5EB0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    cursor: pointer;
}

/* score-div */
.score-div {
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: .5rem;
}

/* turn-board */
.turn-board {
    padding: .5rem;
}

#tryAgainBtn {
    font-size: 1.2rem;
    padding: .2rem .4rem;
    cursor: pointer;
}